@reference 'tailwindcss';

.portableText {
  @apply text-base md:text-lg font-normal md:leading-relaxed;
}

.portableText ul {
  @apply my-6 list-disc list-inside; /* Removed font-normal */
  padding-left: 3.5rem;
}

.portableText ol {
  @apply my-6 list-decimal list-inside; /* Removed font-normal */
  padding-left: 3.5rem;
}

.portableText li {
  @apply my-2; /* Removed font-normal */
}

.portableText h1 {
  @apply mb-4 mt-2 text-2xl leading-snug;
  padding-left: 1.5rem;
}

.portableText h2 {
  @apply mb-4 mt-2 text-xl leading-snug;
  padding-left: 1.5rem;
}

.portableText h3 {
  @apply mb-4 mt-2 mx-6 text-lg leading-snug;
}

.portableText h5 {
  @apply mb-1 mr-2 text-sm mt-1 md:mt-1 md:text-sm leading-snug;
}

.portableText a {
  @apply text-blue-500 underline;
}

.portableText a:hover {
  @apply text-blue-800;
}

.portableText image {
  @apply py-2 pl-6 lg:max-w-3xl w-full h-auto object-cover min-w-[320px] mx-auto block lg:mx-0;
  max-width: 70%;
  height: auto;
  object-fit: cover;
}

.portableText img {
  @apply py-2 pl-6 lg:max-w-3xl w-full h-auto object-cover min-w-[320px] mx-auto block lg:mx-0;
  max-width: 40%;
  height: auto;
  object-fit: cover;
}

.portableText h6 {
  @apply text-sm md:text-base mt-3 leading-loose;
}

.portableText p {
  @apply text-base md:text-base mt-3 leading-loose px-6 mx-auto container;
}

.portableText blockquote {
  @apply my-6 p-4 border-l-4 border-blue-500 dark:border-gray-400 bg-blue-50 dark:bg-gray-100 text-gray-800 dark:text-gray-800 italic;
  quotes: '“' '”' '‘' '’';
}

.portableText blockquote::before {
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.portableText blockquote::after {
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

.portableText blockquote p {
  @apply px-0;
}

/* Image Caption and Grid Styles */
.image-container {
  @apply text-center mb-4 lg:text-left;
}

.image-caption {
  @apply text-xs text-gray-400 my-2;
}

.image-grid {
  @apply grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-4;
}

.portableText figcaption {
  @apply text-xs lg:ml-6 text-gray-400 my-2 text-center lg:text-left;
}

/* Center Images and Captions on Mobile */
@media (max-width: 768px) {
  .portableText image,
  .portableText img {
    @apply mx-auto block;
  }

  .portableText figcaption {
    @apply text-center;
  }

  .image-caption {
    @apply text-center;
  }

  .image-container {
    @apply text-center;
  }
}
